# Virtual environment
venv/
*.venv/
env/
ENV/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Temporary Nougat output
temp_nougat_output*/

# Ignore PDF files in the PDF directory, but keep the directory itself
PDF/*
!PDF/.gitkeep

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
